table { width: 800px;
    margin: 0 auto;
    border-collapse: collapse;
    border-left: 5px solid black;
    border-right: 5px solid black;
}
td , th {
    padding: 5px;
    border-right: 1px solid black;
}

th {
    cursor: pointer;
}

tr:nth-child(odd) {
    background-color: #ccc;
    color: white;
}

div#container {
    width: 820px;
    margin: 0 auto;
}

div#images div:hover span {
    text-decoration: underline;
}

div#images div {
    float: left;
    width: 10%;
    margin: 2%;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}
div#images div img {
    width: 99%;
}
